@font-face {
    font-family: "Shabnam"; // Give your font a unique name
    src: 
    url("../../fonts/Shabnam/Farsi-Digits/Shabnam-FD.eot") format("eot"),
    url("../../fonts/Shabnam/Farsi-Digits/Shabnam-FD.woff") format("woff"),
    url("../../fonts/Shabnam/Farsi-Digits/Shabnam-FD.woff2") format("woff2");
    font-weight: normal; // Specify the font's weight
    font-style: normal; // Specify the font's style
    font-display: swap; // Optimize font loading
}