#images-banner {
    // border: 1px solid red;
    margin-top: 100px;
    min-height: 140px;

    .box-image {
        // border: 1px solid blue;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

        img {
            width: 100px;
        }

    }
    .box-message{
        // border: 1px solid green;
        // margin: 10px;
        padding: 0;
        // background-color: $color-1;
        border-radius: 10px;
        height: 100px;
        text-align: center;
        vertical-align: middle;

        p{
            // margin: auto;
            padding-top: 30px;
            font-size: 20px;
            color: whitesmoke;
            font-weight: bold;
        }
    }
    .box-1{
        background-color: $color-1;
    }
    .box-2{
        background-color: $color-2;
    }
    .box-3{
        background-color: $color-3;
    }
    .box-4{
        background-color: $color-4;
    }

}