
// $color-1 : #0081a7;
// $color-2 : #00afb9;
// $color-3 : #fdfcdc;
// $color-4 : #fed9b7;
// $color-5 : #f07167;
$color-1 : #ef476f;
$color-2 : #ffd166;
$color-3 : #06d6a0;
$color-4 : #118ab2;
$color-5 : #073b4c;
$color-55: #073b4c87;
