#footer {
    margin: 0;
    margin-top: 100px;
    padding: 0;
    

    .box-avatar {
        text-align: center;

        img {
            width: 300px;
        }
    }

    

    .box-footer {
        // border: 1px solid red;
        height: 400px;
        width: 100%;
        overflow: hidden;
        position: relative;
        border-radius: 10px;


        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .box-color {
            background-color: $color-55;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 10;
        }

        .box-links {
            // border: 1px solid red;
            width: 100%;
            position: absolute;
            top: 20px;
            // left: 50%;
            // transform: translate(-40%, -50%);
            // margin: auto;
            z-index: 20;
            display: flex;
            justify-content: center;
            align-items: center;

            .links {
                // border: 1px solid green;
                padding: 20px;
                margin: 20px;

                p {
                    color: $color-2;
                    font-weight: bold;
                    border-bottom: 2px solid $color-2;
                    padding-bottom: 10px;
                    font-size: 18px;
                    font-weight: bold;

                }

                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        margin: 0;
                        padding: 5px;
                        list-style-type: none;

                        a {
                            text-decoration: none;
                            color: whitesmoke;
                            text-align: right;
                            
                            .title {
                                font-size: 16px;
                                font-weight: bold;
                            }
                            .fa {
                                font-size: 10px;
                            }

                            &:hover{
                                color: $color-2;
                            }
                        }
                    }
                }
            }

            .contact_us{
                ul{
                    li{
                        a{
                            .fa{
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }

        .developer{
            // border: 1px solid red;
            // background-color: $color-5;
            
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            // font-family: Yekan !important;
            width: 100%;
            position: absolute;
            bottom: 0;
            padding-top: 10px;
            // left: 50%;
            // transform: translate(0, 0, 0 , -50%);
            z-index: 20;
            color: $color-3;
            font-weight: bold;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;

            a{
                text-decoration: none;
                color: $color-3;
                // color: $color-5;
                // font-weight: bold;
                font-size: 17px;

                &:hover{
                    color: $color-2;
                    
                }
            }
        }
    }

    .dashboard{
        // border: 1px solid red;
        height: 60px !important;
        // background-color: $color-5;
        
        .developer{
            
            p{
                // padding-top: 25px;
                span{
                    color: $color-5;
                }
                a{
                    color: $color-5;

                    &:hover{
                        color: $color-1;
                    }
                }
            }
        }
    }
}