#nav {
    .navbar-toggler {
        color: $color-1 !important;
    }

    // border: 1px solid black;
    .navbar {
        background-color: transparent !important;

        .navbar-nav {
            // border: 1px solid red;
            width: 100%;
            display: flex;
            justify-content: center;

            .nav-item {
                .nav-link {
                    color: $color-1;
                    font-size: 18px;
                    // font-weight: bold;

                    &:hover {
                        color: $color-4;
                        // font-weight: bold;
                    }
                }

                .dropdown-menu {
                    // background-color: transparent !important;
                    background-color: $color-1 !important;
                    // border: 1px solid $color-5;

                    li {
                        background-color: transparent;

                        &:hover {
                            .dropdown-item {
                                background-color: transparent;
                                color: $color-5;
                                // font-weight: bold;
                            }
                        }

                        a.dropdown-item {
                            color: $color-2;
                            // font-weight: bold;
                        }
                    }
                }
            }
        }

        #shortcut-icon {
            width: 300px;
            // border: 1px solid green;
            a {
                text-decoration: none;
                color: $color-1;

                &:hover {
                    color: $color-3;
                    font-weight: bold;
                }

                .badge {
                    background-color: $color-1 !important;
                }
            }

        }
    }

    .dashboard {

        // border: 2px solid $color-1;
        border-radius: 10px;
        background-color: $color-5 !important;

        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: whitesmoke !important;

                    &:hover{
                        color: $color-3 !important;
                    }
                }

                .dropdown-menu{
                    background-color: $color-5 !important;
                    // z-index: 10;
                    border: 2px solid whitesmoke;
                    li{
                        .dropdown-item{
                            color: whitesmoke !important;
                        }

                        &:hover{
                            .dropdown-item{
                                color: $color-3 !important;
                            }
                        }
                    }
                }
            }

        }


    }

}

@media (min-width: 768px) {
    .nav-item {
        .nav-link {
            font-weight: bold;
        }

        .dropdown-menu {
            li {
                .dropdown-item {
                    font-weight: bold;
                }
            }
        }
    }
}